mat-form-field{
    width: 200%;
    font-size: 16px;
  color: blue;
  
  }
 
  .input{
    margin-right: 6cm;
    /* display: flex;
  flex-direction: column;
  padding-right: 0%; */
  /* font-size: 16px;
  color: blue;
  border: solid 1px #c0c0ff; */
  }

  /* .discription{
    margin-left: 10%;
    width: 150%;
  } */
/* .input{
    margin-right: 15cm;
} */