<app-header [navigationitems]="userSideNavigationdata"></app-header>

<div id="dashboard">
<div id="detail">
<mat-card class="physician-card" >
    <mat-card-title-group>
        <mat-card-title>Hi {{ username}},</mat-card-title>
        <mat-card-subtitle *ngIf='physicianFlag'>The practice of medicine is an art,
           not a trade; a calling, not a business; a calling in which
            your heart will be exercised equally with your head. Often 
            the best part of your work will have nothing to do with potions 
            and powders, but with the exercise of an influence of the strong upon 
            the weak, of the righteous upon the wicked, of the wise upon the foolish.
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf='!physicianFlag'>The practice of medicine is an art,
            not a trade; a calling, not a business; a calling in which
             your heart will be exercised equally with your head. Often 
             the best part of your work will have nothing to do with potions 
             and powders, but with the exercise of an influence of the strong upon 
             the weak, of the righteous upon the wicked, of the wise upon the foolish.
           </mat-card-subtitle>
           <img mat-card-md-image *ngIf='!physicianFlag' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgln-j1HSiyAa32R3X_v0Hka0wa-jwUzfZmw&usqp=CAU">
        <img mat-card-md-image *ngIf='physicianFlag' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFw7whz6NPdSiKm1vNSli0q_nZORBXChwDog&usqp=CAU" >
      </mat-card-title-group>
</mat-card>
<div id="appointment">
<mat-card class="total-card">
    <mat-card-title-group>
        <mat-card-title>Total Appointment</mat-card-title>
        <mat-card-subtitle id="total">{{apiChartData[0]}}</mat-card-subtitle>
      </mat-card-title-group>
  </mat-card>
  <mat-card class="today-card" >
    <mat-card-title-group>
        <mat-card-title>Today Appointment</mat-card-title>
        <mat-card-subtitle id="today">{{todayAppointment}}</mat-card-subtitle>
      </mat-card-title-group>
  </mat-card>
</div>
  <mat-card class="chart-card">
    <mat-card-title-group>
        <canvas baseChart
            [datasets]="chart_Data"
            [labels]="chart_Labels"
            [options]="chart_Options"
            [plugins]="chart_Plugins"
            [legend]="chart_Legend"
            [chartType]="chart_Type"
            [colors]="donutColors">
    </canvas>
      </mat-card-title-group>
</mat-card>
</div>
<div class="calendar">
    <mat-card class="calendar-card">
        <mat-card-title-group>
            <full-calendar [options]="calendarOptions" style="width: 100%; height: 100%;" ></full-calendar>
          </mat-card-title-group>
      </mat-card>
</div>
<!-- Modal PopUp with Add Event Form
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h4 class="modal-title align-center"></h4>
        <button type="button" class="close" (click)="hideForm()" data-dismiss="modal">&times;</button>
      </div>
      
      <div class="modal-body">
        <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
          <div class="row">
             <div class="col-sm-12">
                <div class="form-group">
                      <label>Event Title</label>
                      <input placeholder="Add Event Title" type="text" formControlName="title" class="titleinp form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                      </div>
                   </div>
             </div> 
             <div class="col-sm-12">
              <div class="form-group">
                    <label>Event Date:</label>
                    <div class="form-control eventstarttitle"></div>
                 </div>
           </div> 
             
             
             
          </div>
         <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
</div>

  <app-footer></app-footer>

